:coffee: __**THE RIGHT CAFE**__ :coffee: 

 
`In addition to the below rules, it is expected you follow the rules of Common Sense and doing something intentionally annoying or malicious with the excuse "its not in the rules so i can do it" is not allowed and will get you punished by the Staff. Sovereign Immunity also applies here.`


:one: You will not post, link, or say anything that violates United States Law.

:two: You will not post low-effort, low-intelligence comments, images, or arguments.

:three: Advertising in any form is not allowed, this includes referral links, shilling, social media, discord links, etc.

:four: Do not overuse CAPS or throw fits of rage.

:five: In serious conversations, no ad hom, insulting, mockery, or otherwise is allowed. You must debate in good faith.

:six:  Refrain from using special characters in your name, if you cannot be pinged, change it.

:seven:  Do not post NSFW, Gore, or otherwise questionable content.

:eight: Calls to violence or genocide are banned.

:nine: Anti-Ukrainian Sentiment is strictly prohibited.

:keycap_ten: No Tiktoks.
