☕ __**THE RIGHT CAFE**__ ☕ 

 
`In addition to the below rules, it is expected you follow the rules of Common Sense and doing something intentionally annoying or malicious with the excuse "its not in the rules so i can do it" is not allowed and will get you punished by the Staff`


1️⃣ You will not post, link, or say anything that violates United States Law.

2️⃣ You will not post low-effort, low-intelligence comments, images, or arguments.

3️⃣ Advertising in any form is not allowed, this includes referral links, shilling, social media, discord links, etc.

4️⃣ Do not overuse CAPS or throw fits of rage.

5️⃣ In serious conversations, no ad hom, insulting, mockery, or otherwise is allowed. You must debate in good faith.

6️⃣  Refrain from using special characters in your name, if you cannot be pinged, change it.

7️⃣  Do not post NSFW, Gore, or otherwise questionable content.

8️⃣ Calls to violence or genocide are banned.

9️⃣ Anti-Ukrainian Sentiment is strictly prohibited.

🔟 No Tiktoks.
