☕ __**The Right Cafe, Rules**__ ☕ 
~~**--------------------------------------------------**~~

`Note that we will not have every rule written down, if a staff member tells you to stop doing something then stop doing that thing.`

~~**--------------------------------------------------**~~

1️⃣ Do not post anything with gore, nudity, or otherwise questionable/illegal content.

2️⃣ Advertising in any form is not allowed, this includes referral links, shilling, social media, discord links, etc.

3️⃣ Do not spam, overuse caps, or throw fits of rage.

4️⃣ Refrain from using special characters in your username/nickname, if you cannot be pinged, change it.

5️⃣ Observe the uses of a channel and use them accordingly.

6️⃣ Calls to violence or genocide are banned.

7️⃣ In serious conversations, no ad hom, insulting, mockery, or otherwise is allowed. You must debate in good faith, and address arguments no matter how crazy or stupid, do not  dismiss them out of first glance.

8️⃣ Harassment & Slurs are not permitted.
  **-** Note: This does not mean "dont be mean", we expect members to have some level of thick skin, but anything beyond banter/strong criticism should be avoided

~~**--------------------------------------------------**~~
